/* line 1, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
#record_main {
  /* mobile */
  /* Tablet */
  /* Desktop */
}
/* line 2, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
#record_main span#stream_title {
  font-size: 18pt;
}
/* line 6, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
#record_main input.title_form {
  margin-bottom: 2px;
  display: none;
}
/* line 10, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
#record_main span#username {
  font-size: 14pt;
}
/* line 13, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
#record_main span.category {
  float: right;
}
/* line 17, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
#record_main p#status {
  padding-top: 8px;
}
@media screen and (max-width: 600px) {
  /* line 22, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main .nav-center {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 29, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main #my-video {
    width: 100%;
    height: 320px;
  }
  /* line 33, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main #comments {
    display: none;
  }
  /* line 36, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main .open_chat {
    top: 12px;
    /*display:none;*/
  }
}
@media screen and (min-width: 769px) {
  /* line 44, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main #my-video {
    width: 100%;
    height: 300px;
  }
  /* line 48, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main #comments {
    display: block;
  }
  /* line 51, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main .open_chat {
    top: 44px;
  }
}
@media screen and (min-width: 980px) {
  /* line 58, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main #my-video {
    width: 100%;
    height: 440px;
  }
  /* line 62, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main #comments {
    display: block;
  }
  /* line 65, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
  #record_main .open_chat {
    top: 44px;
  }
}

/* line 72, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
span.tag {
  float: right;
  border-radius: 0px;
}

/* line 78, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
.media-content .title {
  color: #000;
}
/* line 81, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
.media-content .subtitle {
  color: #000;
}

/* line 87, /home/ubuntu/stream-staging/app/assets/stylesheets/records.scss */
.content p.subtitle.is-5 {
  color: #000;
  margin-bottom: 8px;
}
