/* line 1, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
#stream_main {
  /* mobile */
  /* Tablet */
  /* Desktop */
}
@media screen and (max-width: 600px) {
  /* line 3, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main .nav-center {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 1, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main {
    /* #comment_area { */
    /* height: 296px; */
    /* } */
  }
  /* line 10, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #live {
    width: 100%;
    height: 320px;
  }
  /* line 14, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main .video-js {
    width: 100%;
    height: 320px;
  }
  /* line 21, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #comments {
    display: none;
  }
  /* line 24, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main .open_chat {
    top: 12px;
    /*display:none;*/
  }
}
@media screen and (min-width: 769px) {
  /* line 32, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #live {
    width: 100%;
    height: 350px;
  }
  /* line 36, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main .video-js {
    width: 100%;
    height: 350px;
  }
  /* line 40, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #comment_area {
    height: 324px;
  }
  /* line 43, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #comments {
    display: block;
    background-color: #fff;
    height: 100%;
  }
  /* line 48, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main .open_chat {
    top: 44px;
  }
}
@media screen and (min-width: 980px) {
  /* line 55, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #live {
    width: 100%;
    height: 446px;
  }
  /* line 59, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main .video-js {
    width: 100%;
    height: 446px;
  }
  /* line 63, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #comment_area {
    height: 418px;
  }
  /* line 66, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main #comments {
    background-color: #fff;
    display: block;
    height: 100%;
  }
  /* line 71, /home/ubuntu/stream-staging/app/assets/stylesheets/stream.scss */
  #stream_main .open_chat {
    top: 44px;
  }
}
