<div class='columns'>
  <div class='column is-12'>
  <% unless current_user.github? %>
    <%= link_to 'GitHub Integration', user_github_omniauth_authorize_path, class: 'button is-default' %>
  <% else %>
    <i class='fa fa-github'></i>
  <% end %>
  <% unless current_user.twitter? %>
    <%= link_to 'Twitter Integration', user_twitter_omniauth_authorize_path, class: 'button is-info' %>
  <% else %>
    <i class='fa fa-twitter'></i>
  <% end %>
  </div>
</div>
