<h1><%= @user.streaming_key %></h1>
<ul>
  <% @user.records.reverse.each do |record| %>
    <div class='thumbnail' style="display:inline;">
      <%= link_to play_record_path(name: @user.name, uuid: record.uuid), target: '_blank' do %>
        <%= image_tag record.screenshot_url, alt: record.uuid, style: 'width: 200px;height:200px;' %>
      <% end %>
    </div>
  <% end %>
</ul>
<%= image_tag @user.twitter_image_url, alt: "#{@user.twitter_name}" %>
