<div class="container">
  <h2 class="subtitle"><%= "#{I18n.t('popular.stream')}" %></h2>
  <%= render partial: 'streaming', locals: { users: @users } %>
  <h2 class="subtitle"><%= "#{I18n.t('popular.video')}" %></h2>
  <%= render partial: 'records/all', locals: { records: Record.select { |r| r.duration.ceil > 0 } } %>
</div>
