<video id="my-video" class="video-js" autoplay controls preload="auto" height="auto" width="100%" data-setup="{}">
  <source src="<%= @record.video_url %>" type="video/mp4" />
  <p class="vjs-no-js">
   To view this video please enable JavaScript, and consider upgrading to a web browser that
   <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
<script src="http://vjs.zencdn.net/5.9.2/video.js"></script>
