<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="columns">
    <div class="column is-8">
      <% if @record.uploaded? %>
        <%= render partial: 'player', locals: { record: @record } %>
      <% else %>
        <h1>Work in progress...</h1>
      <% end %>
    </div>
    <div class="column is-4">
    </div>
  </div>
</div>
<%= render partial: 'all', locals: { records: @user.records } %>
