<section class="hero is-info">
  <div class="hero-content">
    <div class="container">
      <h2 class="subtitle"><%= "#{I18n.t('popular.video')}" %></h2>

      <% records.reverse.each_slice(3) do |record| %>
        <div class="columns">
          <% unless record[0].nil? %>
            <%= render partial: 'records/record', locals: { record: record[0], user: record[0].user } %>
          <% end %>
          <% unless record[1].nil? %>
            <%= render partial: 'records/record', locals: { record: record[1], user: record[1].user } %>
          <% end %>
          <% unless record[2].nil? %>
            <%= render partial: 'records/record', locals: { record: record[2], user: record[2].user } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
