<div id="chat_form" style="position:fixed;width:100%;bottom:0px;height:32px;">
  <% if user_signed_in? %>
    <%= form_tag("/#{@user.nickname}/chat", remote: true, format: :js) do %>
      <%= text_field_tag 'chat[text]', :text, class: 'input message', placeholder: 'Message - Enter で送信', value: '', autofocus: true, style: 'margin-bottom: 10px;', required: false %>
    <% end %>
    <h2 class="subtitle msg-error" style="display:none;">Message can't be empty.</h2>
  <% else %>
    <%= link_to t('chat.signin'), new_user_session_path, class: 'button is-default', style: 'width: 100%;' %>
  <% end %>
</div>
