<% chats.each do |chat| %>
  <li>
    <%= link_to stream_path(name: chat.sender), target: '_blank', style: 'color:#000;' do %>
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <%= image_tag "#{User.find_by(name: chat.sender).gh.image || User.find_by(name: chat.sender).twitter_image_url}", alt: chat.sender %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= chat.sender %></strong>
              <br>
              <%= chat.text %>
            </p>
          </div>
        </div>
      </article>
    <% end %>
  </li>
<% end %>
