<video id="live test" class="video-js vjs-default-skin" controls autoplay preload="auto" width="640" height="360" data-setup='{}'>
  <source src="rtmp://52.192.182.78/live/<%= user.name %>" type='rtmp/mp4'></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser
    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
<script src="http://vjs.zencdn.net/4.12.15/video.js"></script>
