<video id="my-video" class="video-js" controls autoplay preload="auto" width="100%" height="auto" data-setup='{}'>
  <source src="rtmp://192.168.179.2/live/<%= user.name %>" type='rtmp/mp4'></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser
    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
<script src="http://vjs.zencdn.net/4.12.15/video.js"></script>
